automagic-posts.json
{
  "name": "Automagic Post Creator v2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtMinute": 28
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -656,
        144
      ],
      "id": "16ecc84e-6d2c-4dff-91b7-2e5d70443011",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-oss:120b-cloud",
          "mode": "list",
          "cachedResultName": "gpt-oss:120b-cloud"
        },
        "messages": {
          "values": [
            {
              "content": "=Read the following article summary.\n\n* Identify the main arguments, claims, and assumptions presented.\n* Write a blog post that offers thoughtful counterpoints to each major claim.\n* Use wit, criticism, and playful “roasting” to highlight the article’s flaws, contradictions, or questionable logic.\n* Be entertaining, but keep your response intelligent, and insightful.\n* Support your positions with facts, examples, and clever commentary.\n* Be sarcastic.\n* Make it SEO friendly.\n* Only tell things you know for a fact, no rumors or speculation unless it's for the sake of the bit/for the sake of sarcasm.\n* Only output the article, no title and don't tell me anything\n* Do not say anything along the lines of \"here's the article\", \"here's the blog post\", etc.\n* No quotes around the article\n\nHere is the article to base off of:\n\nTitle: \"{{ $json.title }}\"\n\nSummary: \"\"\"\n{{ $json.contentSnippet }}\n\"\"\""
            },
            {}
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        -272,
        384
      ],
      "id": "2664ad31-cd9b-4890-be27-bf03febb4875",
      "name": "Message a model",
      "credentials": {
        "ollamaApi": {
          "id": "BTqOWI5NyJb472bM",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-oss:20b-cloud",
          "mode": "list",
          "cachedResultName": "gpt-oss:20b-cloud"
        },
        "messages": {
          "values": [
            {
              "content": "=Make a sarcastic, snarky title based on the following article. Output one title, and only output the one title. No quotation marks around the title, use spaces to seperate words and not symbols such as dashes:\n```\n{{ $json.content }}\n```"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.ollama",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "2bc0fc8c-062f-48a1-9e8a-4a2b84866b05",
      "name": "Message a model1",
      "credentials": {
        "ollamaApi": {
          "id": "BTqOWI5NyJb472bM",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "title": "={{ $json.content }}",
        "additionalFields": {
          "content": "={{ $('Message a model').item.json.content }}",
          "status": "publish"
        }
      },
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        256,
        144
      ],
      "id": "ab04c7a0-42c2-46e0-b3b0-e6a83b39ed0e",
      "name": "Create a post",
      "credentials": {
        "wordpressApi": {
          "id": "RhUYtIuXZMUzR4Sw",
          "name": "Wordpress account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -672,
        336
      ],
      "id": "4a9d629c-fc79-4c9a-9b32-24b077a9f2f3",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://www.theverge.com/rss/index.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -416,
        128
      ],
      "id": "c0b531e5-2244-424d-acca-c5e33d27283b",
      "name": "RSS Read"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Message a model1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model1": {
      "main": [
        [
          {
            "node": "Create a post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bc49ee91-bd2b-408f-ab9d-f882f7ba7a6e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "17af48f7d4786e45d43ddbd3b6d9d78387631f61a634111d989e044e9dc1c2d9"
  },
  "id": "4yGlz2JUQE6GCjY3",
  "tags": []
}